#disponibilidades-container {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid #E0E0E0;
    border-radius: 16px;
    margin-top: 3%;
}

#disponibilidades-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 0;
}

    #disponibilidades-top div {
        padding: 8px 32px;
    }

    #disponibilidades-top a {
        background-color: #E7C864;
        border-radius: 16px;
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 600;
    }

        #disponibilidades-top a:hover {
            background-color: #e7c248;
        }

#disponibilidades-container table {
   width: 95%;
   margin: 0 auto;
   border-collapse: separate;
   border-spacing: 5px;
}

#disponibilidades-container h6 {
    font-weight: 600;
}

table, td {
    border: none;
}

th {
    border-bottom: 2px solid #F2F2F0 !important;
}

#buttons-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

#disponibilidades-edit-button {
    background-color: #EBDE9D;
    border-radius: 12px;
    padding: 4px 12px
}



