* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #1e1f24;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #faf9f6;
}

h1 {
    font-weight: 700;
    font-size: 64px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 700;
    font-size: 30px;
}

h4 {
    font-weight: 700;
    font-size: 24px;
}

h5 {
    font-weight: 600;
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1 b {
    font-weight: 800;
}

b {
    font-weight: 600;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

a, a:hover {
    text-decoration: none;
    color: #1e1f24;
}

/* CLASSES */

.header {
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #e7c864;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button {
    background-color: transparent;
    width: 44px;
    height: 40px;
    border-radius: 26px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    left: 32px;
    display: none;
}

.menu-button-svg {
    display: none;
    width: 44px;
    height: 40px;
}

.menu-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.tag {
    background-color: #ebde9d;
    border-radius: 12px;
    padding: 4px 12px;
    height: fit-content;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.white-container {
    width: 100%;
    background-color: white;
}

.container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    text-align: justify;
}

.container-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.card {
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.button {
    background-color: #e7c864;
    width: fit-content;
    padding: 8px 32px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: none;
}

    .button:hover {
        background-color: #e7c248;
    }

.white-button {
    background-color: white;
    width: fit-content;
    padding: 8px 24px;
    border-radius: 16px;
}

    .white-button:hover, .white-button:focus {
        background-color: transparent;
    }

.card-col-8 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
}

.card-col-6 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 0;
}

.card-col-4 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;
}

.card-col-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-wrap-8 {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.card-wrap-4 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.card-wrap-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card-2 {
    display: flex;
    gap: 8px;
}

.card-4 {
    display: flex;
    gap: 16px;
}

.card-center {
    display: flex;
    align-items: center;
    gap: 4px;
}

.alert {
    background-color: #e7c864;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 36px 0;
    margin: 40px 0;
}

.alert-content {
    max-width: 712px;
    text-align: justify;
    text-transform: uppercase;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 32px 0;
}

.footer-title {
    max-width: 262px;
}

.footer-socials {
    display: flex;
    gap: 80px;
}

.separator {
    margin: 40px 0;
    padding: 24px 0;
}

.separator-2 {
    height: 20px;
}

.transparent {
    background-color: transparent;
}

/* HOME PAGE */

.principal-bg {
    background-color: #e7c864;
}

.principal-header {
    display: flex;
    justify-content: space-between;
}

.principal-header-title {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.principal-header-img {
    width: 450px;
}

.menu {
    display: none;
    position: relative;
}

.menu-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.container-numbers {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.item-number {
    text-align: center;
}

.container-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0;
}

.card-item {
    max-width: 500px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.principal-button {
    font-weight: 700;
    font-size: 24px;
    padding: 16px 32px;
    margin: 0 auto;
}

.container-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: justify;
    padding: 12px 0;
}

.create-container {
    margin: 0 20px;
}

.btn-full-width {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 1280px) {
    .card-item {
        max-width: 100%;
    }
}

@media (max-width: 1080px) {
    .container {
        padding: 0 20px;
    }

    .container-card {
        justify-content: center;
    }

    .item-number {
        padding: 20px 0;
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
        max-width: 450px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    h6,
    a {
        font-size: 16px;
    }

    .input {
        max-width: 100%;
    }

    .reverse-col {
        flex-direction: column-reverse;
    }

    .principal-header {
        align-items: center;
    }

    .principal-header-title {
        gap: 20px;
    }

    .principal-header-img {
        width: 320px;
    }

    .principal-button {
        font-size: 20px;
    }

    .menu-nav {
        gap: 24px;
    }

    .container-form {
        gap: 28px;
        justify-content: center;
    }

    .container-img {
        flex-direction: column;
        padding: 20px;
    }

    .hide-img {
        display: none;
    }

    .min-img {
        width: 320px;
    }

    .min-svg {
        width: 16px;
    }

    .alert-content {
        padding: 20px;
    }

    /* NAV */

    .header-content {
        justify-content: center;
        gap: 40px;
    }

    .menu-button {
        display: flex;
    }

    .close-menu {
        display: none;
    }

    .open-menu {
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #e7c864;
        z-index: 1000;
    }

        .open-menu a {
            height: 24px;
        }

            .open-menu a:hover {
                font-size: 18px;
            }

    .close-menu-button {
        background-color: transparent;
        position: absolute;
        left: 34px;
        top: 24px;
    }

    .menu-button-svg {
        display: flex;
    }

    .menu-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    h3 {
        margin: 0;
    }

    .principal-header {
        flex-direction: column-reverse;
    }
}

@media (max-width: 640px) {
    .container-itens {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 12px;
    }

    .item-number {
        max-width: 135px;
        padding: 10px 0;
    }

    .footer {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
