@{
    ViewData["Title"] = "Home Page";
}

<div class="principal-bg">
    <div class="container principal-header">
        <image src="./images/personal-growth-pana.png"
               alt="Menina"
               class="principal-header-img" />
        <div class="principal-header-title">
            <h1>O primeiro passo vem de <b>VOCÊ!</b></h1>
            <h6>
                Conecte-se com psicólogos e psiquiatras dedicados ao seu bem-estar.
                Estamos aqui para ajudar você a encontrar o profissional ideal e
                agendar sua consulta com facilidade.
            </h6>
        </div>
    </div>
</div>
<div class="white-container container-numbers">
    <div class="container container-itens">
        <div class="item-number">
            <h3>300+</h3>
            <h5>psicólogos</h5>
        </div>
        <div class="item-number">
            <h3>200+</h3>
            <h5>psiquiatras</h5>
        </div>
        <div class="item-number">
            <h3>2.000+</h3>
            <h5>consultas por mês</h5>
        </div>
        <div class="item-number">
            <h3>30.000+</h3>
            <h5>consultas realizadas</h5>
        </div>
    </div>
</div>
<div class="separator-2"></div>
<div>
    <div class="container container-content">
        <div class="card-col-4">
            <h4>Por que fazer terapia é importante?</h4>
            <div class="card-col-2">
                <h6>1. Autoconhecimento</h6>
                <h6>2. Redução de estresse</h6>
                <h6>3. Fortalecimento dos relacionamentos</h6>
                <h6>4. Superação de traumas e desafios</h6>
                <h6>5. Aumento da autoestima e confiança</h6>
            </div>
        </div>
        <image src="./images/Enthusiastic-pana.png"
               alt="Menina"
               width="350px"
               class="hide-img" />
    </div>
</div>
<div class="white-container separator">
    <div class="container card-col-4">
        <div class="card-2">
            <image src="./images/arrow.svg"
                   alt="Seta"
                   width="{24}"
                   class="min-svg mb-2" />
            <h4>Como funciona a terapia?</h4>
        </div>
        <div class="container-content reverse-col">
            <image src="./images/curiosity-brain-rafiki.png"
                   alt="Cerebro"
                   width="340px"
                   class="min-img" />
            <div class="card-col-4">
                <h5>O Processo de Terapia</h5>
                <h6>
                    A terapia é um processo colaborativo que visa ajudar você a
                    entender e superar desafios pessoais. Em cada sessão, você terá a
                    oportunidade de explorar suas emoções e pensamentos em um ambiente
                    seguro e confidencial. O terapeuta trabalha com você para
                    identificar padrões e desenvolver estratégias que promovam
                    mudanças positivas.
                </h6>
                <h6>
                    As sessões geralmente duram entre 50 minutos e uma hora, e a
                    frequência pode variar conforme suas necessidades e objetivos.
                    Durante o processo, você terá a chance de construir uma relação de
                    confiança com o terapeuta, essencial para o sucesso da terapia.
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="container container-content">
    <div class="card-col-4">
        <h5>Abordagens e Acompanhamento</h5>
        <h6>
            Existem diferentes abordagens terapêuticas, como a Terapia
            Cognitivo-Comportamental, a Psicanálise e a Terapia Humanista, cada
            uma com suas técnicas e focos específicos. O tipo de terapia mais
            adequado será escolhido com base nas suas necessidades individuais e
            preferências.
        </h6>
        <h6>
            O acompanhamento terapêutico pode se estender de alguns meses a mais,
            dependendo do seu progresso e das metas estabelecidas. A flexibilidade
            no tratamento permite que ele se ajuste às suas circunstâncias e ajude
            a alcançar seus objetivos pessoais.
        </h6>
    </div>
    <image src="./images/Mind-map-pana.png"
           alt="Pensando"
           width="350px"
           class="hide-img" />
</div>
<div class="separator-2"></div>
<div class="container card-col-8">
    <div class="card-2">
        <image src="./images/arrow.svg"
               alt="Seta"
               width="24px"
               class="min-svg mb-2" />
        <h4>Como escolher o profissional?</h4>
    </div>
    <div class="container-card">
        <div class="card card-item">
            <h5>1. Verifique as Qualificações</h5>
            <h6>
                Certifique-se de que o terapeuta possui as credenciais e
                certificações adequadas. Procure por profissionais com formação e
                experiência na área de atuação desejada.
            </h6>
        </div>
        <div class="card card-item">
            <h5>2. Considere a Especialização</h5>
            <h6>
                Diferentes terapeutas se especializam em áreas variadas, como
                ansiedade, depressão, ou terapia de casal. Escolha um profissional
                cuja especialização se alinhe com suas necessidades.
            </h6>
        </div>
        <div class="card card-item">
            <h5>3. Avalie a Compatibilidade</h5>
            <h6>
                A relação com o terapeuta é crucial para o sucesso da terapia.
                Busque um terapeuta com quem você se sinta confortável e que entenda
                suas preocupações.
            </h6>
        </div>
        <div class="card card-item">
            <h5>4. Consulte as Referências</h5>
            <h6>
                Verifique avaliações e recomendações de outros pacientes para obter
                uma visão sobre a eficácia e a abordagem do terapeuta.
            </h6>
        </div>
    </div>
    <a asp-controller ="Psicologo" asp-action="Lista" class="button principal-button">Encontre um Profissional</a>
</div>
<div class="white-container separator">
    <div class="container card-col-6">
        <h4>Artigos dos Especialistas</h4>
        <div class="articles">
            <div class="article">
                <h5>Depressão e Ansiedade</h5>
                <span>
                    Depressão e ansiedade são condições amplamente comuns que afetam
                    milhões de pessoas globalmente. A depressão é marcada por uma
                    sensação persistente de tristeza e desinteresse, enquanto a
                    ansiedade envolve preocupações excessivas e desconforto. Ambas as
                    condições podem impactar significativamente a qualidade de vida. O
                    diagnóstico precoce e o tratamento adequado são essenciais para
                    aliviar os sintomas e melhorar o bem-estar geral. Abordagens
                    eficazes podem incluir terapia, medicação e técnicas de
                    gerenciamento do estresse, oferecendo um caminho para a
                    recuperação e uma vida mais equilibrada.
                </span>
                <b>Saiba mais</b>
            </div>
            <div class="article">
                <h5>Saúde Mental Infantil e Adolescente</h5>
                <span>
                    Identificar e tratar problemas de saúde mental precocemente é
                    essencial para o desenvolvimento saudável de crianças e
                    adolescentes. Questões como ansiedade, depressão e transtornos de
                    comportamento podem impactar o bem-estar e o desempenho escolar. O
                    diagnóstico e intervenção precoce podem ajudar a prevenir
                    problemas futuros e promover um desenvolvimento emocional e
                    psicológico positivo. Abordagens eficazes incluem terapia
                    individual, apoio familiar e, quando necessário, medicação,
                    garantindo que os jovens recebam o suporte necessário para
                    crescerem com uma base sólida de saúde mental.
                </span>
                <b>Saiba mais</b>
            </div>
        </div>
    </div>
</div>
