@model IEnumerable<psiconexao.Models.Consulta>

@{
    ViewData["Title"] = "Consultas Agendadas";
}

<h1>Consultas Agendadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Psicólogo</th>
            <th>Paciente</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Data.ToShortDateString()</td>
                <td>@item.Hora</td>
                <td>@item.Psicologo.Nome</td>
                <td>@item.Paciente.Nome</td>
            </tr>
        }
    </tbody>
</table>