<div class="container principal-header">
    <div class="separator-2"></div>
    <div class="m-auto text-center">
        <h1>Opa!</h1>
        <h3>Apenas usuários autorizados <br />podem acessar essa página!</h3>
        <div class="separator-2"></div>
        <a href="/" class="button">Voltar a Página Inicial</a>
    </div>
    <img src="~/images/acessdenied.png"
        alt="Acesso negado"
        class="principal-header-img" />
</div>
