<div>
    <div class="container container-img">
        <div class="section-header">
            <h2>Seu cadastro está em processamento!</h2>
            <div class="card-col-6">
                <h6>
                    Obrigado por se cadastrar na nossa plataforma. Estamos revisando
                    suas informações e em breve você receberá uma confirmação por
                    e-mail. Fique atento à sua caixa de entrada!
                </h6>
                <a href="/" class="button">Voltar a Página Inicial</a>
            </div>
        </div>
        <image src="/images/working.png" alt="Psicóloga" width="400px" />
    </div>
</div>